AI Sales Research Agent.json
{
  "name": "AI Sales Research Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "a53a5902-4948-4fef-b222-a1571f20ceaf",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://www.forexfactory.com/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "htmlContent"
            }
          }
        }
      },
      "id": "0afe1692-3e12-4068-b4e5-f536b12dc37b",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error1",
              "name": "error",
              "value": "Failed to scrape website",
              "type": "string"
            },
            {
              "id": "error2",
              "name": "htmlContent",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c777df25-cdd4-43ca-93c7-7d1543ab8982",
      "name": "Handle Scrape Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract clean text from HTML\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const html = item.json.htmlContent || '';\n  \n  // Simple HTML tag removal and text extraction\n  let text = html\n    .replace(/<script[^>]*>.*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>.*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  // Limit to first 8000 characters to avoid token limits\n  text = text.substring(0, 8000);\n  \n  output.push({\n    json: {\n      websiteUrl: item.json.websiteUrl || item.json.url || '',\n      websiteText: text,\n      error: item.json.error || null\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "15343db5-413c-46f8-8d72-b84639d3be22",
      "name": "Extract Text from HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following company website content and generate comprehensive sales intelligence.\n\nWebsite URL: {{ $json.websiteUrl }}\n\nWebsite Content:\n{{ $json.websiteText }}\n\nProvide:\n1. Company Summary - Brief overview of what the company does\n2. Products and Services - List their main offerings\n3. Target Customers - Who they serve (industries, company sizes, roles)\n4. Pain Points - Identify 3-5 business challenges they likely face with description, impact, and suggested solutions\n5. Automation Opportunities - Identify 3-5 AI/automation opportunities with description, expected impact, complexity level (Low/Medium/High), and priority score (1-10)\n6. Cold Email - Write a personalized cold email (150-200 words) that:\n   - Opens with a relevant observation about their business\n   - Identifies a specific opportunity or pain point\n   - Offers clear value proposition\n   - Includes a soft call-to-action\n7. LinkedIn Message - Write a short, professional LinkedIn outreach message (50-75 words)\n8. Automation Readiness Score - Rate 1-100 how ready they are for automation based on their business model, tech stack indicators, and growth stage\n9. Outreach Potential Score - Rate 1-100 the likelihood of successful outreach based on identified pain points and opportunities\n\nBe specific, actionable, and professional. Base all insights on the actual website content provided.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert sales research analyst and business strategist. Your role is to analyze company websites and generate actionable sales intelligence. You excel at identifying pain points, automation opportunities, and crafting personalized outreach messages. Always base your analysis on the actual content provided and be specific with recommendations.",
          "maxIterations": 5
        }
      },
      "id": "00b111c4-5baf-4234-818b-62a15ed4b132",
      "name": "Sales Intelligence Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": null
        }
      },
      "id": "66ed5c95-25d2-4592-9dad-f73a6efa0cd3",
      "name": "OpenAI GPT-5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1600,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "NUUDxu6vpWwV7v9e",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"company_summary\": \"string\",\n  \"products_services\": [\"string\"],\n  \"pain_points\": [\"string\"],\n  \"automation_opportunities\": [\"string\"],\n  \"cold_email\": \"string\",\n  \"linkedin_message\": \"string\",\n  \"automation_readiness_score\": 0,\n  \"outreach_priority_score\": 0\n}"
      },
      "id": "177fee52-a788-4bab-a82f-93c33f0675a3",
      "name": "Sales Intelligence Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        528
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field1",
              "name": "websiteUrl",
              "value": "{{ $json.website_url }}",
              "type": "string"
            },
            {
              "id": "field2",
              "name": "=companySummary",
              "value": "{{ $json.output.company_summary }}",
              "type": "string"
            },
            {
              "id": "field3",
              "name": "=productsAndServices",
              "value": "{{ $json.output.products_services }}",
              "type": "string"
            },
            {
              "id": "field4",
              "name": "=targetCustomers",
              "value": "{{ $json.output.target_customers }}",
              "type": "string"
            },
            {
              "id": "field5",
              "name": "=painPoints",
              "value": "{{ $json.output.pain_points }}",
              "type": "string"
            },
            {
              "id": "field6",
              "name": "=automationOpportunities",
              "value": "{{ $json.output.automation_opportunities }}",
              "type": "string"
            },
            {
              "id": "field7",
              "name": "=coldEmail",
              "value": "{{ $json.output.cold_email }}",
              "type": "string"
            },
            {
              "id": "field8",
              "name": "=linkedInMessage",
              "value": "{{ $json.output.linkedIn_message }}",
              "type": "string"
            },
            {
              "id": "field9",
              "name": "=automationReadinessScore",
              "value": 0,
              "type": "number"
            },
            {
              "id": "field10",
              "name": "outreachPotentialScore",
              "value": 0,
              "type": "number"
            },
            {
              "id": "field11",
              "name": "=generatedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e665612-8b01-47cf-ba5a-a894fdb78b0a",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ff3bb65e-53db-4431-95a9-5310c8b668bb",
      "name": "Merge Scrape Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "unpack1",
              "name": "websiteUrl",
              "value": "={{ $json.data[0].websiteUrl }}",
              "type": "string"
            },
            {
              "id": "unpack2",
              "name": "websiteText",
              "value": "={{ $json.data[0].websiteText }}",
              "type": "string"
            },
            {
              "id": "unpack3",
              "name": "error",
              "value": "={{ $json.data[0].error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b009fe82-2b72-4bc3-b851-df4496c5165d",
      "name": "Unpack Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Extract Text from HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Scrape Error": {
      "main": [
        [
          {
            "node": "Extract Text from HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from HTML": {
      "main": [
        [
          {
            "node": "Merge Scrape Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Intelligence Agent": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Sales Intelligence Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sales Intelligence Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Sales Intelligence Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scrape Results": {
      "main": [
        [
          {
            "node": "Unpack Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Data": {
      "main": [
        [
          {
            "node": "Sales Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1cc71d29-310f-4ca6-8774-a375495e9cb5",
  "meta": {
    "instanceId": "319667a1515bd8c1e8c614a81c58f0ddc3e331014e10fee5973d44b3547f48fe"
  },
  "id": "CjHXJpBHpc0wrNwf",
  "tags": []
}